/*mobile portrait*/
header {
	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: var(--brown_3);
}
.inputContainer {
	display: flex;
	flex-wrap: wrap;
}
.headerIcon {
	pointer-events: none;
	user-select: none;
}
.imageContainer {
	display: flex;
	align-items: center;
	padding-left: 10px;
	height: 100%;
	width: 20%;
}
.titleContainer {
	display: grid;
	place-items: center;
	height: 100%;
	width: 60%;	
	padding-left: 10px;
}
.title {
	user-select: none;
	font-size: 1.6rem;
	color: var(--brown_1);
}
/*desktop landscape*/
@media screen and (min-width: 1300px)  {
}
/*mini iPad portrait*/
@media screen and (min-width: 540px) and (max-width: 1000px)  {
	.imageContainer {
		padding-left: 20px;
		width: 15%;
	}
	.titleContainer{
		display: grid;
		place-items: center;
		width: 67%;
	}
	.title {
		font-size: 2.4rem;
	}
}
/* Smartphones (landscape) */
@media only screen and (min-width : 321px) and (orientation: landscape) {
	.titleContainer {
		width: 83%;
	}
	.imageContainer {
		width: 7%;
	}
	.title {
		font-size: 2rem;
	}
}
 
/* Mini Mobiles (portrait)  */
@media only screen and (max-width : 320px) and (orientation: portrait) {
	.titleContainer {
		width: 60%;
	}
	.title {
		font-size: 1.3rem;
	}
}
/* Mini Mobiles (landscape)  */
@media only screen and (max-height: 320px) and (orientation: landscape) {
	.titleContainer {
		width: 85%;
	}
	.imageContainer {
		width: 5%;
	}
	.title {
		font-size: 1.8rem;
	}
}
/*ipad landscape*/

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	.titleContainer {
		width: 83%;
	}
	.imageContainer {
		width: 7%;
	}
	.title {
		font-size: 3rem;
	}
}
/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.titleContainer {
		width: 78%;
	}
	.imageContainer {
		width: 13%;
	}
	.title {
		font-size: 4rem;
	}
	.menuIcon {
		font-size: 2rem;
	}
}

 
/* Desktops and Laptops */	
@media screen and (min-width: 1000px) and (max-width: 1824px){
	.imageContainer {
		width: 5%;
	}
	.titleContainer{
		display: flex;
		align-items: center;
		width: 45%;
	}
	.title {
		font-size: 2.8rem;
	}
}
/*
	.imageContainer {
		padding-left: 40px;
		width: 15%;
	}
	.titleContainer{
		display: grid;
		place-items: center;
		width: 70%;
	}
	.title {
		font-size: 4.1rem;
	}
*/
/* Extra-large screens */
@media only screen and (min-width : 1824px) {}