.menuIcon {
	margin: 0 8px;
	height: 30%;
	width: 5%;
	color: #432;
	cursor: pointer;
}
/*desktop landscape*/
@media screen and (min-width: 1300px)  {
	.menuIcon {
		width: 3.5%;
		color: #432;
		margin-left: 45%;
	}
	.true {
		margin-left: 19.4%;
	}
}

/*ipad portrait*//* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.menuIcon {
		width: 5%;
		height: 100%;
	}
}

/*mini mobile portrait*/
@media screen and (max-width: 320px)  {
	.menuIcon {
		width: 4%;
		height: 60%;
		color: #432;
		margin: 0 2px;
	}
}

/*mobile landscape*/
@media screen and (max-height: 540px) and (min-width: 568px) {
	.menuIcon {
		margin: 0;
		height: 100%;
		width: 2%;
	}
}

/*miniMobile landscape*/
@media screen and (max-height: 320px) and (min-width: 568px)  {
	.menuIcon {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 3%;
	}
}

/*ipad/landscape tablets landscape*/
@media screen and (max-height: 600px) and (min-width: 1000px) {
	.menuIcon {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 2%;
	}
}

/*big iPad*/
@media screen and (min-width: 1000px) and (max-width: 1400px){
	.menuIcon {
		margin: 0 10px;
		padding: 0;
		height: 100%;
		width: 3%;
	}
}