.gameSearcher {
	border: none;
	border-bottom: 2px solid rgb(200,140,50);
	color: #432;
	height: 7vh;
	transition: all .3s ease;
	width: 80vw;
	background: rgb(230,178,77);
}
.searchIcon {
	margin: 0 8px;
	width: 6%;
	color: #432;
}
.gameSearcher::selection {
	background: rgb(200,140,50);
}
.gameSearcher::placeholder {
	color: #432;
}
/*responsive classes*/

.input-portrait-gameSearcher {
	margin-top: 50vh;
	margin-left: 10vw;
	z-index: 1000;
	position: absolute;
}

/*desktop landscape*/
@media screen and (min-width: 1300px)  {
	.gameSearcher {
		width: 23%;
		height: 50%;
		margin-right: 9%;
		margin-left: 10px;
		padding: 10px 5px;
		font-size: 1.2rem;
	}	
	.searchIcon {
		width: 1.5%;
	}
}

/*ipad portrait*//* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.searchIcon {
		margin: 0 4px;
		width: 4.3%;
	}
}

/*mini mobile portrait*/
@media screen and (max-width: 320px)  {
	.searchIcon {
		margin: 0 8px;
		width: 5%;
	}
}

/*mobile landscape*/
@media screen and (max-height: 540px) and (min-width: 568px) {	
	.searchIcon {
		width: 2%;
		height: 100%;
	}
}

/*miniMobile landscape*/
@media screen and (max-height: 320px) and (min-width: 568px)  {
	.searchIcon {
		margin: 0 4px;
		width: 3%;
	}
}

/*ipad/landscape tablets landscape*/
@media screen and (max-height: 1024px) and (min-width: 1000px) and (max-width: 1400px) {
	.searchIcon {
		margin: 0 4px;
		width: 2%;
	}
}