nav {
	width: 100%;
	height: 8%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	background: rgb(200,140,50);
}
.nav-container {
	width: 100%;
	height: 60%;
	justify-content: center;
	display: flex;
	align-items: center;	
}
.nav-container a {
	margin: 0 8px;
	text-decoration: none;
}
.nav-platforms-container{
	justify-content: space-evenly;
}
.nav-platforms-container a {
	user-select: none;
	color: #feb;
}
.my-account-container {
	color: #321;
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(180,130,45);
	user-select: none;
}
/*desktop landscape*/
@media screen and (min-width: 1244px)  {
	.my-account-container {
		width: 20% !important;
	}
}

@media screen and (orientation: landscape){
	nav {
		flex-wrap: nowrap;
		justify-content: space-between;
		height: 5%;
	}
	.nav-container {
		width: 45%;
		height: 100%;
	}
	.nav-container a {
		margin: 0 20px;
	}			
	.nav-platforms-container  {
		justify-content: flex-start;
	}
	.nav-link-container  {
		justify-content: flex-end;
	}
	.my-account-container {
		width: 10%;
	}
}

/*General Portrait*/
@media only screen and (orientation: portrait) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) and (orientation: landscape) {
	.my-account-container {
		width: 50%;
	}
}
 
/* Mini Mobiles (portrait)  */
@media only screen and (max-width : 320px) {}
 
/* Mini Mobiles (landscape)  */
@media only screen and (max-height: 320px) and (orientation: landscape) {}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {}
 
/* iPads (landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}
 
/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.nav-link-container a {
		font-size: 2rem;
	}
	.nav-platforms-container a {
		font-size: 2rem;
	}
	.my-account-container {
		font-size: 1.5rem;
	}
}
 
/* Desktops and Laptops */
@media only screen and (min-width : 1224px) {}
 
/* Extra-large screens */
@media only screen and (min-width : 1824px) {}