.content {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	overflow-x: hidden;
	flex-wrap: wrap;
	overflow: scroll;
}
.content img {
	border: 2px solid var(--brown_1);
	width: 40%;
	height: 50%;
	margin: 3% 1%;
}
.content-ds img {
	width: 90vw;
	height: 90vw;
}
/*General Landscape*/
@media only screen and (orientation: landscape) {
	.content img {
		border: 2px solid var(--brown_1);
		margin: 1% 0;
		width: 18%;
		height: 75%;
		cursor: pointer;
	}
	.content-ds img {
		width: 28vw;
		height: 28vw;
	}
	.content {
		justify-content: space-around;
		overflow-x: hidden;
	}
}

/*General Portrait*/
@media only screen and (orientation: portrait) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {}
 
/* Mini Mobiles (portrait)  */
@media only screen and (max-width : 320px) {}
 
/* Mini Mobiles (landscape)  */
@media only screen and (max-height: 320px) and (orientation: landscape) {}

/* iPads (landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}
 
/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.content img {
		border: 2px solid var(--brown_1);
		margin: 2% 1%;
		width: 40%;
		height: 75%;
	}
}
 
/* Desktops and Laptops */
@media only screen and (min-width : 1224px) {}
 
/* Extra-large screens */
@media only screen and (min-width : 1824px) {}