.main-directions {
	padding-left: 10px;
}
.main-directions-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 90%;
}
.main-directions h2 {
	width: 100%;
	height: 10%;
	font-size: 2rem;
}
.direction {
	border-radius: 10px;
	padding: 10px;
	width: 15vw;
	height: 15vw;
	margin: 10px;
	margin-left: 0;
	background-color: rgb(255,205,97);
	border: 2px solid #432;
}
.direction .direction-data{
	height: 80%;
	width: 100%;
}
.direction .direction-actions{
	height: 20%;
	width: 100%;
	display: grid;
	place-items: center;
}
.direction-action-delete {
	width: 50%;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	height: 80%;
	background-color: rgb(255,205,97);
	border: 2px solid #432;
	color: #432;
	border-radius: 10px;
	user-select: none;
}

.direction-action-delete:hover {
	background: rgb(255,105,57);
}
.add-direction {
	width: 15vw;
	height: 15vw;
	margin: 10px;
	display: grid;
	place-items: center;
	text-align: center;
	font-size: 2rem;
	color: #432;
	user-select: none;
	cursor: pointer;
	margin-left: 0;
	border: 2px dashed #432;
	border-radius: 10px;
}