.main-home {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.main-home a {
	text-decoration: none;
}
.home-link_content{
	width: 30vw;
	padding: 0;
	height: 30vw;
	background-color: rgb(230,178,77);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home-link_content img{
	width: 100%;
	height: 80%;
	border: none;
	padding: 0;
}
.home-link_content-text {
	height: 20%;
	width: 100%;
	color: #432;
	text-align: center;
	font-size: 3rem;
	text-decoration:none !important;
}