.main-user {
	padding-left: 10px;
}
.main-user-title {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
}
.main-user-content {
	height: 90%;
	width: 100%;
}
.main-user-title h2 {
	user-select: none;
	color: var(--brown_1);
	font-size: 2rem;
}
.main-user div {
	font-size: 1.5rem;
	color: var(--brown_1);
	padding: 10px 0 ;
}