.swal-overlay {
	background: #0009;
}
.swal-modal {
	background: var(--brown_3);
}
.swal-button {
	background: var(--brown_3);
	user-select: none;
	border: 2px solid var(--brown_1);
	color: var(--brown_1);
}
.swal-button:hover {
	background: red;
}
.swal-button--cancel:not([disabled]):hover , .swal-button:not([disabled]):hover{
	background: rgb(210,158,57);
}
.swal-button:focus {
	box-shadow: none;
	outline: 2px solid #321;
}