.swal2-input {
	color: #432 !important;
	border: 2px solid #432 !important;
}
.swal2-input::placeholder {
	color: #432 !important;
}
.swal2-input:focus {
	box-shadow: none !important;
	outline: 2px solid #321 !important;
	border: 2px solid #321 !important ;
}
.swal2-confirm {
	border: 2px solid #432 !important;
	color: #432 !important;
}
.swal2-default-outline:focus {
	box-shadow: none !important;
	border: 2px solid #321 !important;
	outline: 2px solid #321 !important;
}
.swal2-html-container {
	margin: 0 !important;
	padding: 0 !important;
}
#register-swal-input-submit:hover {
	background: rgb(200,140,50);
	cursor: pointer;
}
#login-swal-input-submit:hover {
	background: rgb(200,140,50);
	cursor: pointer;
}
#swal2-html-container {
	padding: 0 !important;
	font-size: 1rem !important;
}
#swal2-html-container p {
	font-size: 1.2rem !important;
}

/*General Landscape*/
@media only screen and (orientation: landscape) {}

/*General Portrait*/
@media only screen and (orientation: portrait) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {}
 
/* Mini Mobiles (portrait)  */
@media only screen and (max-width : 320px) {}
 
/* Mini Mobiles (landscape)  */
@media only screen and (max-height: 320px) and (orientation: landscape) {}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {}
 
/* iPads (landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}
 
/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.swal2-html-container {
		font-size: 1.25rem !important;
		padding: 50px !important;
	}
}
 
/* Desktops and Laptops */
@media only screen and (min-width : 1224px) {
	.swal2-html-container {
		font-size: 1.25rem !important;
		padding: 50px !important;
	}
	#swal2-html-container {
		padding: 20px 50px !important;
	}
}
 
/* Extra-large screens */
@media only screen and (min-width : 1824px) {}