.swal2-input {
	color: #432 !important;
	border: 2px solid #432 !important;
}
.swal2-input::placeholder {
	color: #432 !important;
}
.swal2-input:focus {
	box-shadow: none !important;
	outline: 2px solid #321 !important;
	border: 2px solid #321 !important ;
}
.swal2-confirm {
	border: 2px solid #432 !important;
	color: #432 !important;
}
.swal2-default-outline:focus {
	box-shadow: none !important;
	border: 2px solid #321 !important;
	outline: 2px solid #321 !important;
}
.swal2-html-container {
	margin: 0 !important;
}
#register-swal-input-submit:hover {
	background: rgb(200,140,50);
	cursor: pointer;
}
#login-swal-input-submit:hover {
	background: rgb(200,140,50);
	cursor: pointer;
}