*, *::before, *::after {
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	}
  * {
	margin: 0;
  }
  *::selection {
	  background: #3215;
  }
  *::-webkit-scrollbar {
	width: 10px;
  }
  /* Track */
  *::-webkit-scrollbar-track {
	background: rgb(230,178,77);
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
	  background: #654;
	}
	
	/* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
	  background: #432;
  }
  *::-webkit-scrollbar-corner {
	background-color: transparent;
	border: 0px solid transparent;
  }
  *:focus {
	-webkit-tap-highlight-color: transparent;
  }
  textarea:focus, input:focus {
	  outline: none;
  }
  span {
	  user-select: none;
  }
  html, body {
	background: black;
	height: 100%;
  }
  body {
	background: black;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  input, button, textarea, select {
	font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  #root, #__next {
	isolation: isolate;
  }