.menu {
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background: var(--brown_3);
}
.menu-container {
	display: flex;
	user-select: none;
	position: absolute;
	margin-top: 88vh;
}
.menu-content {
	width: 100%;
	height: 100%;
	display: flex;
}
/*General Landscape*/
@media only screen and (orientation: landscape) {
	.menu {
		width: 30vw;
	}
	.menu-screen {
		width: 70vw;
		height: 100vh;
		z-index: 999;
		opacity: 0.5;
		background: black;
	}
}

/*General Portrait*/
@media only screen and (orientation: portrait) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {}
 
/* Mini Mobiles (portrait)  */
@media only screen and (max-width : 320px) {}
 
/* Mini Mobiles (landscape)  */
@media only screen and (max-height: 320px) and (orientation: landscape) {}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {}
 
/* iPads (landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}
 
/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {}
 
/* Desktops and Laptops */
@media only screen and (min-width : 1224px) {}

/* Extra-large screens */
@media only screen and (min-width : 1824px) {}